.board {
  position: relative;
  display: inline-block;    // div not larger than its contents
}

.board table {
    background-color: rgb(251,234,173);
    table-layout: fixed;
}

.board td {
    border: 1px solid rgb(167,169,172);
}

.circle {
  border-radius: 50%;
  z-index: 1;
}
.whites {
  background-color: white;
  border: 2px solid rgb(122,64,152);
}
.blacks {
  background-color: rgb(114,76,140);
  border: 2px solid rgb(63,33,75)
}
.next {
  border: 2px dashed red;
}

.message {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: grey;
    opacity: 0.2;
    visibility: hidden;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: text-top; /* align vertical */
    color:red;
    z-index: 2;
    font-size: 40px;
}

.thinking {
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: grey;
    opacity: 0.1;
    visibility: hidden;
    display: flex;
    justify-content: center; /* align horizontal */
    z-index: 2;
    font-size: 20px;
}